appdirs==1.4.4
certifi==2020.12.5
cffi==1.14.0
chardet==4.0.0
cryptography==3.4.4
distlib==0.3.1
docopt==0.6.2
elementpath==2.2.0
filelock==3.0.12
idna==2.10
pip>=21.1
pipenv==2022.1.8
pipreqs==0.4.10
pycparser==2.20
requests==2.25.1
setuptools==49.2.1
six==1.14.0
urllib3>=1.26.5
virtualenv==20.4.2
virtualenv-clone==0.5.4
xmlschema==1.5.3
yarg==0.1.9
